.articlel
{
	background-color:#f7f7f7;
    height: 250px;
    margin: 30px;
    border-radius: 10px;
    padding-top: 15px;
}
.articlel h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #003f5e;
	float:left;
	width:100%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
figure
{
	    float: left;
		width: 150px !important;
		height:150px !important;
}
.articlel img
{
	border-radius: 50% !important;
}
.articlel p{
	float:right;
	width:350px;
	font-size:14px;
	font-style:italic;
	font-weight:100;
}

.articler
{
	background-color:#f7f7f7;
    height: 250px;
    margin: 30px;
    border-radius: 10px;
    padding-top: 15px;
}
.articler h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #003f5e;
	float:left;
	width:100%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.articler img
{
	border-radius: 50% !important;
}
.articler p{
	width:300px;
	margin-left:100px;
	margin-top:15px;
	float:left;
	font-size:14px;
	font-style:italic;
	font-weight:100;
}
section
{
	height:inherit !important;
}
#apDiv25{
	top:inherit !important;
	margin-top:5px;	
}
#apDiv26{
	top:inherit !important;
	margin-top:20px;	
}
#apDiv13{
	top:inherit !important;
	margin-top:5px;	
}
#apDiv27{
	top:inherit !important;
	margin-top:35px;	
}